@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800");
html {
  font-size: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Open Sans, sans-serif;
  color: #252525;
  font-weight: normal;
  background-color: #f6f6f6;
}

h1, h2 {
  margin: 0;
}

a {
  color: inherit;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2.title {
  font-size: 3.75rem;
  font-weight: 800;
  padding-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.info {
  background: #fff;
  font-size: 1.875rem;
  padding: 2.5em 1.8em;
  letter-spacing: -1px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.info a {
  color: inherit;
}

.info a:hover {
  text-decoration: none;
}

header {
  background-image: url("./../images/header-bg.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header .header__xconfLogo {
  padding: 0.5em 0.5em 3.125em;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

header .header__eventInfo__date {
  border: 2px #fff solid;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  letter-spacing: -1px;
  padding: 1.25em 0.75rem;
}

header .header__eventInfo__date span {
  font-size: 5.625rem;
  font-weight: bold;
  padding-bottom: 0.08em;
  line-height: 1;
}

header .header__eventInfo__Location {
  font-size: 1.875rem;
  font-weight: 300;
  padding: 1.2em 0;
  line-height: 1;
}

header .logo__Link {
  background-color: #EEE44F;
  border: 1px #EEE44F solid;
  border-radius: 38px;
  text-decoration: none;
  color: #252525;
  font-size: 1.5625rem;
  letter-spacing: -0.5px;
  padding: 0.6em 5.4em;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

header .logo__Link:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.agenda {
  margin-top: 40px;
  font-size: 1.25rem;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
}

.session {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.session .break {
  background-color: rgba(211, 211, 211, 0.35);
}

.session__time {
  font-size: 24px;
  font-weight: bold;
  text-transform: lowercase;
}

.session__item {
  padding: 20px;
  border-bottom: 1px dashed lightgray;
  border-left: 5px solid lightgray;
}

.session__item.track1 {
  border-left-color: #f58f3e;
}

.session__item.track2 {
  border-left-color: #26bdcf;
}

.session__item.track3 {
  border-left-color: #ee0b77;
}

.session__track {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.track1 .session__track {
  color: #f58f3e;
}

.track2 .session__track {
  color: #26bdcf;
}

.track3 .session__track {
  color: #ee0b77;
}

.session__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #666;
}

.session__overview {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .session__item {
    position: relative;
    margin-left: 250px;
    border-left-width: 1px;
  }
  .session__item.break {
    background-color: rgba(255, 182, 193, 0.25);
  }
  .session__item:first-child {
    padding-top: 0;
  }
  .session__item:first-child .session__title:before {
    top: 1px;
  }
  .session__time {
    position: absolute;
    left: -200px;
    text-align: right;
    display: inline-block;
    min-width: 160px;
  }
  .session__title:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -11px;
    top: 24px;
    background: #999;
    border-radius: 100%;
    border: 3px solid #fff;
    padding: 5px;
    -webkit-box-shadow: 0 0 0 1px #666;
            box-shadow: 0 0 0 1px #666;
  }
  .track1 .session__title:before {
    background-color: #f58f3e;
    -webkit-box-shadow: 0 0 0 1px #f58f3e;
            box-shadow: 0 0 0 1px #f58f3e;
  }
  .track2 .session__title:before {
    background-color: #26bdcf;
    -webkit-box-shadow: 0 0 0 1px #26bdcf;
            box-shadow: 0 0 0 1px #26bdcf;
  }
  .track3 .session__title:before {
    background-color: #ee0b77;
    -webkit-box-shadow: 0 0 0 1px #ee0b77;
            box-shadow: 0 0 0 1px #ee0b77;
  }
}

.mktoForm .mktoGutter,
.mktoForm .mktoOffset,
.mktoForm .mktoClear {
  display: none !important;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap,
.mktoForm .mktoAsterix,
.mktoForm .mktoRadioList,
.mktoForm .mktoCheckboxList,
.mktoForm .mktoLabel,
.mktoForm .mktoField {
  float: none !important;
}

.register {
  padding: 2.5em 1.8em;
}

.register .title {
  text-align: center;
  padding-bottom: .8333em;
}

.register .mktoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
  font-size: 1.25rem !important;
}

.register .mktoFormCol {
  margin-bottom: 1.25em !important;
}

.register .mktoFormRow {
  width: 49%;
}

@media screen and (max-width: 767px) {
  .register .mktoFormRow {
    width: 100%;
  }
}

.register .mktoFormRow:nth-child(8), .register .mktoFormRow:nth-child(9), .register .mktoFormRow:nth-child(10), .register .mktoFormRow:nth-child(11) {
  width: 100%;
}

.register .mktoFormRow:nth-child(8) .mktoFieldWrap, .register .mktoFormRow:nth-child(9) .mktoFieldWrap, .register .mktoFormRow:nth-child(10) .mktoFieldWrap, .register .mktoFormRow:nth-child(11) .mktoFieldWrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .mktoFormRow:nth-child(8) .mktoLabel, .register .mktoFormRow:nth-child(9) .mktoLabel, .register .mktoFormRow:nth-child(10) .mktoLabel, .register .mktoFormRow:nth-child(11) .mktoLabel {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.register .mktoFormRow:nth-child(8) .mktoCheckboxList, .register .mktoFormRow:nth-child(9) .mktoCheckboxList, .register .mktoFormRow:nth-child(10) .mktoCheckboxList, .register .mktoFormRow:nth-child(11) .mktoCheckboxList {
  width: auto !important;
  padding: 0 !important;
}

.register .mktoFormRow:nth-child(8) .mktoCheckboxList > label, .register .mktoFormRow:nth-child(9) .mktoCheckboxList > label, .register .mktoFormRow:nth-child(10) .mktoCheckboxList > label, .register .mktoFormRow:nth-child(11) .mktoCheckboxList > label {
  display: none !important;
}

.register .mktoFormRow:nth-child(8) .mktoCheckboxList input[type="checkbox"], .register .mktoFormRow:nth-child(9) .mktoCheckboxList input[type="checkbox"], .register .mktoFormRow:nth-child(10) .mktoCheckboxList input[type="checkbox"], .register .mktoFormRow:nth-child(11) .mktoCheckboxList input[type="checkbox"] {
  width: 35px !important;
  height: 35px !important;
  margin-right: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
}

.register .mktoFormRow:nth-child(8) .mktoCheckboxList input[type="checkbox"]:after, .register .mktoFormRow:nth-child(9) .mktoCheckboxList input[type="checkbox"]:after, .register .mktoFormRow:nth-child(10) .mktoCheckboxList input[type="checkbox"]:after, .register .mktoFormRow:nth-child(11) .mktoCheckboxList input[type="checkbox"]:after {
  content: '✔';
  position: absolute;
  top: 7px;
  left: 3px;
  font-size: 30px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.register .mktoFormRow:nth-child(8) .mktoCheckboxList input[type="checkbox"]:checked:after, .register .mktoFormRow:nth-child(9) .mktoCheckboxList input[type="checkbox"]:checked:after, .register .mktoFormRow:nth-child(10) .mktoCheckboxList input[type="checkbox"]:checked:after, .register .mktoFormRow:nth-child(11) .mktoCheckboxList input[type="checkbox"]:checked:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.register .mktoFormRow:nth-child(8) {
  padding-top: 1.5em;
}

.register .mktoFormRow:nth-child(11) .mktoLabel, .register .mktoFormRow:nth-child(8) .mktoLabel {
  display: block;
}

.register .mktoFormRow:nth-child(11) .mktoLabel:after, .register .mktoFormRow:nth-child(8) .mktoLabel:after {
  content: '*';
  color: #bf0000;
  padding-left: 5px;
}

.register .mktoFormRow:nth-child(11) .mktoLabel .mktoAsterix, .register .mktoFormRow:nth-child(8) .mktoLabel .mktoAsterix {
  display: none;
}

.register .mktoFieldWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register .mktoLabel {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal !important;
  padding-top: 0 !important;
  padding-bottom: 0.25em;
}

.register .mktoAsterix {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.register .mktoField {
  width: 100% !important;
  border: 1px #979797 solid;
  padding: 12px 16px !important;
  font-size: inherit !important;
  background-color: transparent;
  height: 50px !important;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
}

.register .mktoField:focus {
  -webkit-box-shadow: 0 0 5px #51cbee;
          box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}

.register select.mktoField {
  height: 50px;
}

.register .mktoButtonWrap.mktoSimple {
  margin-left: auto !important;
}

.register .mktoButtonWrap.mktoSimple .mktoButton {
  background-image: none !important;
  background-color: #EEE44F !important;
  border: 1px #EEE44F solid !important;
  border-radius: 38px !important;
  text-decoration: none !important;
  color: #252525 !important;
  font-size: 1.5625rem !important;
  letter-spacing: -0.5px !important;
  padding: 0.6em 5.4em !important;
  line-height: 1 !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.register .mktoButtonWrap.mktoSimple .mktoButton:hover {
  -webkit-transform: translateY(-4px) !important;
          transform: translateY(-4px) !important;
}

.location {
  font-size: 1rem;
  background-image: url("./../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1em 0;
  padding: 10em 0em;
  background-attachment: fixed;
  background-size: contain;
}

.location .location__address {
  background: #fff;
  font-size: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 2em 2em 1.5em;
  margin-left: 2em;
}

.location .location__address__line {
  display: block;
  letter-spacing: -0.6px;
}

.location .location__address a {
  font-size: 0.8125rem;
  text-decoration: none;
}

.location .location__address a:hover {
  text-decoration: underline;
}

footer {
  background-color: #808285;
  color: #fff;
}

footer .footer__content {
  font-size: 1.2rem;
}

footer .info {
  background: transparent;
  text-align: left;
}

footer .info h2.title {
  font-size: 2rem;
}

footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  footer .info ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .info ul a {
  text-decoration: none;
  font-size: inherit;
  padding-right: 10px;
  display: block;
}

footer .info ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  footer .info ul a {
    padding-bottom: 5px;
  }
}

.eventInfo {
  position: relative;
  z-index: 1;
  margin-top: -1em;
}

.footer__smallText {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */