<section id="about" class="feature">

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">
                  XConf is a conference for people of all roles in the technology world, even where disciplines intersect. It is aimed at showcasing emerging technologies and practices to leverage them for next-generation businesses. It is for everyone who is passionate about the craft of software and its ability to make the world a better place.
                </p>
                <p>
                  The theme for this edition is <strong>"Getting a head start on Emerging Technologies".</strong>
                </p>
                <cite data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">XConf Team</cite>

            </blockquote>
        </div>
    </div>
</section>
