<section id="about" class="feature">

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">
                  XConf is a conference for people of all roles in the technology world, even where disciplines intersect. It is aimed at showcasing emerging technologies and practices to leverage them for next-generation businesses. It is for everyone who is passionate about the craft of software and its ability to make the world a better place.
                </p>

                <p id="_about" data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">
                  <small>We love feedback! If you have any suggestions or cribs, feel free to fill out our <a rel="nofollow" href="https://docs.google.com/forms/d/e/1FAIpQLSdYstFXUBLf1o1nvpxY6J6qSs4C5zdlBgnyex-TN1ozTrKK8Q/viewform" target="_blank">feedback form</a>. Don't worry, your feedback will remain completely anonymous.</small>
                </p>

                <cite data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">XConf Volunteers</cite>
            </blockquote>
        </div>
    </div>
</section>
