<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p><% if @item[:noida] %>
                <span>Astral By Binge</span>
                <span>C-25, Stellar IT Park</span>
                <span>Sector 62</span>
                <span> Noida, Uttar Pradesh 201307</span>
                <span><small><a href="https://www.google.com/maps/place/Binge/@28.6129062,77.3603664,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce56996f6ab5b:0xda132206ab62c25f!8m2!3d28.6129062!4d77.3625551?hl=en" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
              <% else %>
                <span>ThoughtWorks Technologies (India) Pvt Ltd</span>
                <span>6th Floor, Tower B, Bldg. 14</span>
                <span>DLF Cyber City Phase III</span>
                <span>Sector 24 & 25</span>
                <span>Gurgaon-122002 (Haryana)</span>
                <span><small><a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies/@28.4970776,77.0936562,20z/data=!4m5!3m4!1s0x0:0xadd473b6ff8aed45!8m2!3d28.4972825!4d77.0937842" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span><% end %>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <%if @item[:noida] %>
            <a href="https://www.google.com/maps/place/Binge/@28.6129062,77.3603664,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce56996f6ab5b:0xda132206ab62c25f!8m2!3d28.6129062!4d77.3625551?hl=en" target="_blank" rel="nofollow">
                <img src="./img/binge.png" alt="Map" align="center" />
            </a>
            <%else %>
            <a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies/@28.4970776,77.0936562,20z/data=!4m5!3m4!1s0x0:0xadd473b6ff8aed45!8m2!3d28.4972825!4d77.0937842" target="_blank" rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center" />
            </a>
            <% end %>
        </div>
    </div>
</section>
