.agenda {
  margin-top: 40px;
  font-size: 1.25rem;
  font-weight: normal;

  .title {
    text-align: center;
    padding-bottom: .8333em;
  }

  @media screen and (max-width: 767px) { 
      overflow-x: auto;
      padding: 2.5em 0.5em;
  }

  table {
    font-size: inherit;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    @media screen and (max-width: 767px) {
      table-layout: auto;
    }

    
    tr {
      border-bottom: 1px #B4B4B4 dashed;
      &.dark {
        background: #fafafa;
        font-weight: bold;
      }

      td,
      th {
        padding: 0.5em;
      }

      td:nth-child(3),
      th:nth-child(3){
        border-left: 1px #B4B4B4 dashed;
        border-right: 1px #B4B4B4 dashed;
      }

      th:first-child, 
      td:first-child {
        text-align: right;
      }
    }
    tbody {
      tr {
        &:last-child {
          border-bottom:  none;
          td {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .agenda table tr td:nth-child(1),
  .agenda table tr th:nth-child(1){
      border-right: 1px #B4B4B4 dashed;
  }
}