.mktoForm {
  .mktoGutter,
  .mktoOffset,
  .mktoClear {
    display: none !important;
  }

  .mktoFormCol,
  .mktoFieldWrap,
  .mktoAsterix,
  .mktoRadioList,
  .mktoCheckboxList,
  .mktoLabel,
  .mktoField {
    float: none !important;
  }
}

.register {
  padding: 2.5em 1.8em;
  
  .title {
    text-align: center;
    padding-bottom: .8333em;
  }

  .mktoForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% !important;
    font-size: 1.25rem !important;
  }

  .mktoFormCol {
    margin-bottom: 1.25em !important;
  }

  .mktoFormRow {
    width: 49%;
    @media screen and (max-width: 767px) { 
      width: 100%;
    }
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
      width: 100%;
      .mktoFieldWrap {
        flex-direction: row;
        align-items: center;
      }
      .mktoLabel {
        order: 2;
      }
      .mktoCheckboxList {
        > label {
          display: none !important;
        }
        width: auto !important;
        padding: 0 !important;
        input[type="checkbox"] {
          width: 35px !important;
          height: 35px !important;
          margin-right: 20px;
          cursor: pointer;
          -webkit-appearance: none;
          appearance: none;
          position: relative;
          &:after {
            content: '✔';
            position: absolute;
            top: 7px;
            left: 3px;
            font-size: 30px;
            transform: scale(0);
            transform-origin: center;
            transition: all 0.35s ease-in-out;
          }

          &:checked {
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }

    &:nth-child(8) {
      padding-top: 1.5em;
    }

    &:nth-child(11),
    &:nth-child(8) { 
      .mktoLabel {
        display: block;
        &:after {
          content: '*';
          color: #bf0000;
          padding-left: 5px;
        }
        .mktoAsterix {
          display: none;
        }
      }
    }
  }

  .mktoFieldWrap {
    display: flex;
    flex-direction: column;
  }

  .mktoLabel {
    width: 100% !important;
    display: flex;
    font-weight: normal !important;
    padding-top: 0 !important;
    padding-bottom: 0.25em;
  }

  .mktoAsterix {
    order: 2;
  }

  .mktoField {
    width: 100% !important;
    border: 1px #979797 solid;
    padding: 12px 16px !important;
    font-size: inherit !important;
    background-color: transparent;
    height: 50px !important;
    transition: all 0.30s ease-in-out;
    outline: none;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  select.mktoField {
    height: 50px;
  }

  .mktoButtonWrap.mktoSimple {
    margin-left: auto !important;
    .mktoButton {
      background-image: none !important;
      background-color: #EEE44F !important;
      border: 1px #EEE44F solid !important;
      border-radius: 38px !important;
      text-decoration: none !important;
      color: #252525 !important;
      font-size: 1.5625rem !important;
      letter-spacing: -0.5px !important;
      padding: 0.6em 5.4em !important;
      line-height: 1 !important;
      transition: transform 0.5s !important;  
      &:hover {
          transform: translateY(-4px)  !important;
      }
    }
  }
}